.user-input {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 12px;
}

.add-btn {
  margin-top: 24px;
  width: 25%;
}

.msg{
  color: red;
  display: none;
}

.msg.active{
display: block;
}